*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  
}

.playground {
  display: flex;
  flex-direction: column;
}

.above-section {
  display: flex;
  flex-direction: row;
}

.bottom-section {
  display: flex;
  flex-direction: row;
}



.red,
.green,
.blue,
.yellow {
  width: 150px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: 15px;
}

.red:hover,
.green:hover,
.blue:hover,
.yellow:hover {
  border-radius: 15px;
  transform: scale(1.1);
  -webkit-box-shadow: 4px 4px 15px 5px rgba(0,0,0,0.75); 
  box-shadow: 4px 4px 15px 5px rgba(0,0,0,0.75);
}

.red {  
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
